@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
body {
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

html {
  scroll-behavior: smooth;
  max-width: 100%;
  overflow-x: hidden;
}

/* *{
    outline: 1px solid #ff009926;
} */
/* *{
    outline: 1px solid #00000045;
} */
.btn-picorico {
  background-color: #ffc329;
  border-color: #ffc329;
}

.btn-picorico2 {
  background-color: #e6472c;
  border-color: #e6472c;
}

.btn-picorico:hover {
  background-color: #f39031;
  border-color: #f39031;
}

.form-control:focus {
  border-color: #f39031 !important;
  box-shadow: none !important;
}

/* .fs-7{
    font-size: 0.75rem;
}
.fs-8{
    font-size: 0.5rem;
} */
.logo {
  width: 55px;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.nav-link {
  padding-left: 25px !important;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: #f39031;
}

.fontColor {
  color: #f39031;
}

.productTitle {
  font-weight: 600;
}

.productDesc {
  width: 80%;
}

.productInfo {
  min-height: 250px;
}

.contactTitle {
  font-size: 55px;
  font-weight: 600;
}

.contactParrafo {
  width: 79%;
  margin: auto;
}

.contactInfo {
  font-size: 30px;
  font-weight: 500;
}

.contactForm {
  font-size: 15px;
}

.form-control::placeholder {
  color: #b4b4b4;
  font-size: 14px;
}

.reventaBannerPic {
  background: url(../media/reventabanner.jpg);
}

.reventaBanner {
  min-height: 140px;
}

.footer {
  min-height: 155px;
  background-color: #f39031;
}

.logoFooter {
  width: 65px;
}

.footerRightSide a {
  text-decoration: none;
  color: white;
}

.footerRightSide img {
  width: 26px;
  margin-left: 11px;
}

.footerIcons {
  padding-left: 0px;
}

.footerLinks {
  padding-left: 31px;
}

@media (max-width: 768px) {
  .footerLinks {
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
  }
}

.heroimg {
  height: 100vh;
  background-color: #f49132;
}

.productContainer {
  position: relative;
}

.productImg {
  display: block;
  width: 70%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  /* left: 0;
    right: 0; */
  height: 99%;
  width: 68%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f49132cf;
  border-radius: 100%;
  cursor: pointer;
  text-decoration: none;
}

.productContainer:hover .overlay {
  opacity: 1;
}

.overlayText {
  color: white;
}
