.contactTitle{
    font-size: 55px;
    font-weight: 600;
}
.contactParrafo{
    width: 79%;
    margin: auto;
}
.contactInfo{
    font-size: 30px;
    font-weight: 500;
}
.contactForm{
    font-size: 15px;
}
.form-control::placeholder{
    color: #b4b4b4;
    font-size: 14px;
}