.footer{
    min-height: 155px;
    background-color: $color1;
}
.logoFooter{
    width: 65px;
}
.footerRightSide {
    a{
    text-decoration: none;
    color: white;
    }
    img{
        width: 26px;
        margin-left: 11px;
    }
}
.footerIcons{
    padding-left: 0px;
}
.footerLinks{
    padding-left: 31px;
}
@media (max-width: 768px) { 
    .footerLinks{
        padding-left: 0;
        display: flex;
        justify-content: flex-end;
    }
}