.heroimg{
    height: 100vh;
    background-color: #f49132;
}

.productContainer{
    position: relative;
}
.productImg{
    display: block;
    width: 70%;
    height: auto;
}
.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    /* left: 0;
    right: 0; */
    height: 99%;
    width: 68%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f4913270;
    border-radius: 100%;
    cursor: pointer;
    text-decoration: none;
}
.productContainer:hover .overlay{
    opacity: 1;
}
.overlayText{
    color: white;
}