body{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
html {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

/* *{
    outline: 1px solid #ff009926;
} */

/* *{
    outline: 1px solid #00000045;
} */